{:paths ["."]
 :deps {io.replikativ/datahike-lmdb {:git/url "https://github.com/replikativ/datahike-lmdb"
                                     :git/sha "bc9f024b791c30ea8fcf48b1dbba7c1abe00f3de"}}
 :aliases {:run
           {:main-opts ["-m" "readme"]
            :jvm-opts    ["--enable-native-access=ALL-UNNAMED"]}}}
