{:paths ["."]
 :deps {io.replikativ/datahike-lmdb {:git/url "https://github.com/replikativ/datahike-lmdb" :git/sha "9136ec43fc7d4cfa59345072740c5f9af56fb889"}}
 :aliases {:run
           {:jvm-opts    ["--enable-native-access=ALL-UNNAMED"]}}}
